:root{
    /* 
  Design Tokens
  Convenção adotada:
  - Tokens primitivos: representam valores base do design (cores brutas, espaçamentos, tamanhos, etc.).
    Ex.: --space-sm, --fs-base, --color-gray-300
  - Tokens semânticos: representam o propósito de uso na interface.
    Ex.: --color-primary-500, --color-secondary-500

  Organização:
  - semantic.css   → cores e significados visuais do sistema
  - spacing.css    → espaçamentos e dimensões
  - typography.css → fontes e tamanhos tipográficos
*/

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
  
}